@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Yellowtail&family=Yeseva+One&display=swap');

html {
  /* box-sizing: border-box; */
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Yeseva One', cursive;
}
.yellow-tail {
  font-family: 'Yellowtail', cursive;
}

#root, body{
  width: 100%;
}
.app-container, body>div{
  max-width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}