.menu-btn {
  transition-duration: 0.5s;
  width: 100%;
  height: 100%;
  text-align: left;
}

.menu-btn .icon-left {
  transition-duration: 0.5s;
  position: absolute;
  top: 30px;
  background-color: #ddd;
  width: 12.5px;
  height: 2.5px;
  border-radius: 3px 0% 0% 3px;
}

.menu-btn .icon-left:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 12.5px;
  height: 2.5px;
  border-radius: 3px 0% 0% 3px;
  background-color: #ddd;
  content: "";
  top: -10px;
}

.menu-btn .icon-left:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 12.5px;
  height: 2.5px;
  border-radius: 3px 0% 0% 3px;
  background-color: #ddd;
  content: "";
  top: 10px;
}

.menu-btn .icon-left:hover {
  cursor: pointer;
}

.menu-btn .icon-right {
  transition-duration: 0.5s;
  position: absolute;
  width: 12.5px;
  height: 2.5px;
  border-radius: 0 3px 3px 0;
  top: 30px;
  background-color: #ddd;
  left: 12px;
}

.menu-btn .icon-right:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 12.5px;
  height: 2.5px;
  border-radius: 0 3px 3px 0;
  background-color: #ddd;
  content: "";
  top: -10px;
}

.menu-btn .icon-right:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 12.5px;
  height: 2.5px;
  border-radius: 0 3px 3px 0;
  background-color: #ddd;
  content: "";
  top: 10px;
}

.menu-btn.open .icon-left {
  transition-duration: 0.5s;
  background: transparent;
}

.menu-btn.open .icon-left:before {
  transform: rotateZ(45deg) scaleX(1.4) translate(3px, 3px);
}

.menu-btn.open .icon-left:after {
  transform: rotateZ(-45deg) scaleX(1.4) translate(3px, -3px);
}

.menu-btn.open .icon-right {
  transition-duration: 0.5s;
  background: transparent;
}

.menu-btn.open .icon-right:before {
  transform: rotateZ(-45deg) scaleX(1.4) translate(-3px, 3px);
}

.menu-btn.open .icon-right:after {
  transform: rotateZ(45deg) scaleX(1.4) translate(-3px, -3px);
}

.menu-btn:hover {
  cursor: pointer;
}
